<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://adminuser:relay123@alchemy-z620:9001/CommonWell_Reporting?authSource=admin" />
    <add key="MongoDBCollection" value="TrackerData" />
    <add key="MSSQLConnectionString" value="Server=tcp:hcpif9we3v.database.windows.net,1433;Database=Graphene;Uid=Fr4nk13@hcpif9we3v;Pwd=(Temp123)_@!;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=300;"/>
    <!--<add key="MSSQLConnectionString" value="Server=tcp:onb9xeffvp.database.windows.net,1433;Database=Graphene;Uid=adminuser@onb9xeffvp;Pwd=Relay123;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=300;"/>-->
    <!--<add key="MSSQLConnectionString" value="Server=tcp:eh1t20gj40.database.windows.net,1433;Database=Graphene;Uid=adminuser@eh1t20gj40;Pwd=Relay123;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"/>-->
    <!--<add key="MSSQLConnectionString" value="Server=iowens-z620\MSSQLSERVER14;Database=Graphene;Trusted_Connection=True;MultipleActiveResultSets=True"/>-->
    <add key="SQLTableName" value="TrackerDocuments" />
    <add key="StartDate" value="2011-01-01T00:00:00Z" />
    <add key="EndDate" value="2015-02-01T00:00:00Z" />
    <add key="TimeSpanInDays" value="1" />
    <add key="DegreeOfParallelism" value="5" />
  </appSettings>
</configuration>