<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://adminuser:relay123@alchemy-z620:9001/CommonWell_Reporting?authSource=admin" />
    <add key="MongoDBCollection" value="TrackerData" />
    <add key="MSSQLConnectionString" value="Server=iowens-z620\MSSQLSERVER14;Database=Graphene_V17;Trusted_Connection=True;MultipleActiveResultSets=True"/>
    <add key="SQLTableName" value="TrackerDocuments" />
    <add key="StartDate" value="2011-01-01T00:00:00Z" />
    <add key="EndDate" value="2015-01-01T00:00:00Z" />
    <add key="TimeSpanInDays" value="10" />
    <add key="DegreeOfParallelism" value="3" />
  </appSettings>
</configuration>