<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- RoundingMethod options Start, MidPoint, End -->
    <add key="RoundingMethod" value="Start" />
    <add key="MidnightOffsetForTotals" value="8" />
    <add key="MSSQLConnectionString" value="Server=tcp:hcpif9we3v.database.windows.net,1433;Database=Graphene;Uid=Fr4nk13@hcpif9we3v;Pwd=(Temp123)_@!;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=300;"/>
  </appSettings>
</configuration>